<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Wanderlei Silva do Carmo">
    <meta name="codnome" content="Go Horses">
    <meta name="version" content="1.0">
    
    <link rel="stylesheet" 
          href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css" integrity="sha384-X8QTME3FCg1DLb58++lPvsjbQoCT9bp3MsUU3grbIny/3ZwUJkRNO8NPW6zqzuW9" 
          crossorigin="anonymous">
    
    <!-- Link para o CSS da FontAwesome -->
    <link rel="stylesheet" 
         href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" 
         integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" 
         crossorigin="anonymous">

    <!-- link para o CDN do Javascript -->     
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>

    <title>Pãgina inicial</title>
</head>
<body>
    
    <!-- barra de navegação -->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
    </nav>

    <div class="p-5">
        Vitória, <?=date('d')?> de <?=date('M')?> de <?=date('Y')?>
    </div>
    <!-- carrossel em Bootstrap-->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://th.bing.com/th/id/OIP.YmR5Ye5l61FbtF6Pq6CkWAHaEK?pid=ImgDet&rs=1" height="500" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://th.bing.com/th/id/OIP.k1bEr6TpXYTjUuMDhm3v4wHaDH?pid=ImgDet&rs=1" height="500" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://th.bing.com/th/id/R.2ab912084d2d8093d7fccaf29b695b2f?rik=SmI7%2fl%2fJnn9ZYA&riu=http%3a%2f%2fwww.schnupptrupp.org%2fw%2fimages%2fthumb%2ff%2ff5%2fScreenshot_Kr%C3%A4uterkundung.png%2f450px-Screenshot_Kr%C3%A4uterkundung.png&ehk=9EZhd6u90aRJR5HPW29aMmwUB17aXcyzzUQNLskh66Y%3d&risl=&pid=ImgRaw&r=0" height="500"  class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- template em 3 colunas em Bootstrap -->
    <div class="container text-center">
        <div class="row">
          <div class="col">
            <h2>Tempo em Vitória</h2>
            Mussum Ipsum, cacilds vidis litro abertis. Aenean aliquam molestie leo, vitae iaculis nisl.Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis.Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.Suco de cevadiss deixa as pessoas mais interessantis.
            <hr />
            <button class="btn btn-primary">Mais...</button>
          </div>
          <div class="col">
            <h2>Novidades do site</h2>
            Mussum Ipsum, cacilds vidis litro abertis. Aenean aliquam molestie leo, vitae iaculis nisl.Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis.Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.Suco de cevadiss deixa as pessoas mais interessantis.
            <hr />
            <button class="btn btn-primary">Mais...</button>
          </div>
          <div class="col">
            <h2>Notícias diversas</h2>
            Mussum Ipsum, cacilds vidis litro abertis. Aenean aliquam molestie leo, vitae iaculis nisl.Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis.Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.Suco de cevadiss deixa as pessoas mais interessantis.
            <hr />
            <button class="btn btn-primary">Mais...</button>
          </div>
        </div>
    </div>


    <p class="m-5"></p>

    <!-- rodapé da página -->
    <div class="container text-center">
        <div class="row"><!-- linha -->
          
          <div class="col-md-4">
            Meu site..
          </div>
          
          <div class="col-md-4">
            <div class="p-5 text-center">
                <h3>Gambiaras & Gambiaras </h3>
                <h6>quer um site rápido?</h6>
                <small>La garantia soy yo!</small>
            </div>
          </div>

          <div class="col-md-4">
            Desenvolvido por... Gambi and Arras Company
          </div>

        </div>
    </div>

</body>
</html>